header {
    a {
        text-transform: uppercase;
    }
}

.container {
    background-color: @header-color;
}

.main-header {
    font: 14px arial, helvetica, verdana, tahoma, sans-serif;
    height: 60px;
    color: white;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center; 

    a {
        color: white;
    }

    h1.logo {
       background: url(../public/img/logo.png);
       background-repeat: no-repeat;
       background-position: center;
       width: 161px;
       height: 36px;
       text-indent: -99em;

       flex-grow: 1;
    }

    .navigation {
        display: flex;

        nav {
            background-color: red;
            padding: 10px;
            font: 12px arial, helvetica, verdana, tahoma, sans-serif;
            border-radius: 2px;
        }

        .submenu {
            display: none;
        }

        .social {
            width: 150px;
        }

        .search {
            padding-top: 10px;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .social {
        text-align: right;

        li {
            margin-right: 6px;
            display: inline;
            font-size: 16px;
        }
    }
}


.categories {
    font: 14px arial, helvetica, verdana, tahoma, sans-serif;
    background-color: #F5F5F4;
    line-height: 12px;
    border-bottom: solid 1px white;

    ul {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;

        li {
            height: 44px;
            line-height: 44px;
            margin: 0 10px;
            flex-shrink: 0;

            a {
                color: #000;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}
